<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>MundoMarvel</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
	
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/ekko-lightbox.css" rel="stylesheet">
    <link href="static/css/flexslider.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  </head>

  <body>
  <div id="boxWrapp">
    <div class="main-nav clearfix">
	  <!-- navbar -->
	<nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavCol">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand bg-primary" href="#about">MUNDOMARVEL</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="NavCol">
         <ul class="nav navbar-nav navbar-right">
           
            <li class="current"><a href="#about" class="linear">Inicio</a></li>
            <li><a href="#aboutMore" class="linear">Introducción</a></li>
            <li><a href="#work" class="linear">Biblioteca</a></li>
            <li><a href="#contact" class="linear">Contactar</a></li>
          </ul>
        
         
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
	  
	</div>
    <!-- Full Page Image Header Area -->
    <div id="about" class="header">

	<div class="maskHeader"></div>
	<div class="main-caption">
		<div class="logo">
		</div>
			<!-- slider -->
	<div id="flex-head" class="flexslider">
		<ul class="slides">
			<li>
				<h1>MundoMarvel</h1>	
				<h2>Sitio web que recoge toda la información sobre tus heroes y villanos favoritos</h2>
			</li>
	</div> 
    <!-- end slider --> 
		<a href="#aboutMore" class="btn btnAbout btn-clear border-color color-primary btn-lg linear">MÁS INFO</a>
	</div><!--  end main caption -->
			
    </div>
	<!-- end header -->
    <!-- /Full Page Image Header Area -->

    
    <!-- content -->
    <div id="aboutMore" class="page">
      <div class="container">
		<div class="row">
          <div class="col-md-10  col-md-offset-1">
		    <div class="build title-page">
				<h2 class="text-center">INTRODUCCIÓN</h2>	
				<div class="line-title bg-primary"></div>
			</div>
		   </div><!-- end col -->
		</div><!-- end row -->
		
        <div class="row">
           <div class="col-md-6">
			   <div class="build main-about">
				   <div class="row">
				       <div class="col-md-3">
				            <div class="main-avatar text-center">
				                </div>
				            </div>
				            
				       </div>
				       <div id="aboutMore" class="page">
      						<div class="container">
								<div class="row">
          							<div class="col-md-10  col-md-offset-1">
		   								<div class="build title-page">
		   									<center>
											<pull class="text-center">MundoMarvel es una web especializada en todo tipo de información sobre el universo Marvel. Aloja toda la información para que realices la búsqueda que desees, ya sea sobre algún personaje en particular, cómic en el que apareció por primera vez, año de creación, eventos importantes relacionados con ese personaje... Multitud de posibilidades. Cualquier cosa que te interese sobre el mundo marvelita podrás encontrala aquí. </p>
											</center>	
											<center>	
										    <a href="#contact" class="btn btn-clear btn-lg border-color">CONTACTAR</a>
										  	</center>
					</div>
				       </div>
				   </div>		
				  
					
				</div>
            </div><!-- end col -->
    
    <!-- /Intro -->   

    <!-- Portfolio -->
    <div id="work" class="page clearfix">
      <div class="container">
		<div class="row">
          <div class="col-md-10  col-md-offset-1">
		    <div class="build title-page">
				<h2 class="text-center">BIBLIOTECA</h2>	
				<div class="line-title bg-primary"></div>
			</div>
		   </div><!-- end col -->
		</div><!-- end row -->
		   <div class="col-md-12">
               
            </div><!--end-col-->
		  <div class="col-md-12">
		  <div class="folio-content clearfix">
		   <div class="row">
		   <div class="container_folio clearfix gallery" id="grid">
			<div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "ilustrator"]'>
			<div class="folio-img">
				<div class="portfolio-item ">
					<div class="thumbnail">
					   <div class="thumb-img">
					  
					  <div class="link-attr">
						    <a href="img/portfolio/p01-large.jpg" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
						   <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
					   </div>
						<img class="linear img-portfolio img-responsive" src="static/img/portfolio/p01-large.jpg" alt="This Is Image">
					  
					   
					   <div class="folio-caption">
					   <i class="fa fa-caret-up"></i>
					       <p>Personajes</p>
					      
					   </div>
					   </div>
					</div>
				
				</div>
			</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile"]'>
				<div class="folio-img">
					<div class="portfolio-item">
						<div class="thumbnail">
						<div class="thumb-img">
						 <div class="link-attr">
						    <a href="static/img/portfolio/p02-large.jpg" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
						   <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
					   </div>
						<img class="linear img-portfolio img-responsive" src="static/img/portfolio/p02-large.jpg" alt="This Is Image">
						 <div class="link"><a href="#">This Is Folio Link2</a></div>
						<div class="folio-caption">
						<i class="fa fa-caret-up"></i>
					       <p>Eventos</p>
					   </div>
						</div>
					    </div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile", "ilustrator"]'>
				<div class="folio-img">
					<div class="portfolio-item">
						<div class="thumbnail">
						<div class="thumb-img">
						<div class="link-attr">
						    <a href="static/img/portfolio/p03-large.jpg" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
						   <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
					   </div>
						 <img class="linear img-portfolio img-responsive" src="static/img/portfolio/p03-large.jpg" alt="This Is Image">
						   <div class="link"><a href="#">This Is Folio Link3</a></div>
						   <div class="folio-caption">
						   <i class="fa fa-caret-up"></i>
					       <p>Cómics</p>
					       </div>
					       </div>
						</div>
					    
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile", "ilustrator"]'>
				<div class="folio-img">
					<div class="portfolio-item">
						<div class="thumbnail">
						<div class="thumb-img">
						<div class="link-attr">
						    <a href="static/img/portfolio/p04-large.jpg" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
						   <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
					   </div>
						<img class="linear img-portfolio img-responsive" src="static/img/portfolio/p04-large.jpg" alt="This Is Image">
						  <div class="link"><a href="#">This Is Folio Link4</a></div>
						  <div class="folio-caption">
						  <i class="fa fa-caret-up"></i>
					       <p>Series</p>
					       </div>
					     </div>
						</div>
					
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "mobile", "ilustrator"]'>
				<div class="folio-img">
					<div class="portfolio-item">
						<div class="thumbnail">
						<div class="thumb-img">
						<div class="link-attr">
						    <a href="static/img/portfolio/p05-large.jpg" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
						   <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
					   </div>
						<img class="linear img-portfolio img-responsive" src="static/img/portfolio/p05-large.jpg" alt="This Is Image">
						<div class="link"><a href="#">This Is Folio Link5</a></div>
						<div class="folio-caption">
						<i class="fa fa-caret-up"></i>
					       <p>Creadores</p>
					       </div>
						</div>
						</div>
					
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 box" data-groups='["all", "ilustrator"]'>
				<div class="folio-img">
					<div class="portfolio-item">
						<div class="thumbnail">
						<div class="thumb-img">
						<div class="link-attr">
						    <a href="static/img/portfolio/p06-large.jpg" data-gallery="global-gallery" data-parent="" data-toggle="lightbox" data-title="Image Title Here" class="link-search animated linear"><i class="fa fa-search"></i></a>
						   <a href="#" class="link-chain animated linear"><i class="fa  fa-chain"></i></a>
					   </div>
						<img class="linear img-portfolio img-responsive" src="static/img/portfolio/p06-large.jpg" alt="This Is Image">
						<div class="link"><a href="#">This Is Folio Link6</a></div>
						<div class="folio-caption">
						<i class="fa fa-caret-up"></i>
					       <p>Historias</p>
					       </div>
						</div>
						</div>
					
					</div>
				</div>
			</div>
		  
		   </div>
		  
		   </div>
		  </div><!-- end folio content -->
		  </div><!-- end col -->
      </div><!--end container-->
	 
	 
    </div>
    <!-- /Portfolio -->

    <div id="main">
		<section id ="busqueda" class="main">
			<form action="/busqueda" method="post">
				datos:<br>
				<input type="text" name="datos"><br>
			</form>
			<p><h3>Indica lo que quieres buscar:</h3> {{datos}}</p>
		</section>
	</div>

    <!--contact-->
    <div id="contact" class="page page-bgcolor">
		<div class="container">
			<div class="row">
            	<div class="col-md-10  col-md-offset-1">
		      		<div class="build title-page">
						<h2 class="text-center">GET IN TOUCH</h2>	
						<div class="line-title bg-primary"></div>
			</div>
		   </div><!-- end col -->
		</div><!-- end row -->
	  	<div class="row">
			<div class="col-md-4 ">
				<div class="build contact clearfix text-center">
					<span class="fa fa-map-marker"></span>
						<p>Merapi Street no.43 <br />Yogyakarta. Indonesia<p>
				</div>			
			</div><!-- end col -->
			<div class="col-md-4 ">
				<div class="build contact clearfix text-center">
					<span class="fa fa-phone"></span>
					<p>tel.<a href="tel:+824 2344 5602">+824 2344 5602</a></p>
					<p>mob.<a href="tel:+824 256 9877">+824 256 9877</a></p>
					
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="build contact clearfix text-center">
					<span class="fa fa-envelope"></span>
					<p>email.joker@youmail.co.id</p>
				</div>
			</div>
		</div><!-- end row -->
	
	  </div><!-- end container -->
	</div>
    <!--contact-->
    
    <!-- Footer -->
    <footer class="bg-black">
      <div class="container">
        <div class="row">
			<div class="col-md-6 ">
				<div class="cp-right">
					<p>&copy; 2018 <a href="http://omahpsd.com" class="color-primary linear">OmahPSD</a>. All Rights Reserved. </p>
				</div><!-- end build -->
			</div><!-- end col -->
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
	<script src="static/js/jquery.sticky.js" ></script>
	 <script src="static/js/jquery.nav.js"></script>
    <script src="static/js/jquery.scrollTo.js" ></script>
    <script src="static/js/jquery.flexslider.js" ></script>
   <script type="static/text/javascript" src="js/ekko-lightbox.js"></script>
   <script src="static/js/jquery.easing.1.3.js" ></script>
   <script src="static/js/jquery.shuffle.js" ></script>
    <script src="static/js/script.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->

  </div>
  </body>

</html>